USE [master]
GO
/****** Object:  Database [ComandosBD]    Script Date: 12/25/2024 11:22:52 PM ******/
CREATE DATABASE [ComandosBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComandosBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ComandosBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComandosBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ComandosBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComandosBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComandosBD]
GO
/****** Object:  Table [dbo].[Comandos]    Script Date: 12/25/2024 11:22:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comandos](
	[NombreServer] [varchar](50) NOT NULL,
	[Comando] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servers]    Script Date: 12/25/2024 11:22:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servers](
	[NombreServer] [varchar](50) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Servers] PRIMARY KEY CLUSTERED 
(
	[NombreServer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
